html {
  font-size: 10px;
}

.hero {
  background-image: linear-gradient(white, black),
    url("/classroom/landing-page-activity/assets/images/voscb.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

.logo {
  position: absolute;
  top: 1.8rem;
  left: 1.8rem;
}
.logo-image {
  width: 6rem;
}
.logo--animated {
  animation: moveFromTopWithBounce 1s ease-out;
}

.container {
}

.navbar {
}

@keyframes;
moveFromTopWithBounce {
  0% {
    transform: translateY(-20rem);
  }

  100% {
  }
}
