.hero {
  background-image: linear-gradient(
      to right,
      rgb(165, 164, 164),
      rgb(56, 56, 56)
    ),
    url("./assets/images/NINTCHDBPICT000515260574-e1566509448716.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.logo {
}

.container {
}

.navbar {
}
